<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
</head>
<body>
<nav>
  <ul>
    <li><a href="/courses">Courses</a></li>
    <li><a href="/schedule">Schedule</a></li>
  </ul>
</div>
</nav>
  <%= yield %>
</body>